# Dask.DataFrame

Es un DataFrame en paralelo compuesto por DataFrames de Pandas

A continuacion se mostrata unos ejemplos de como usar ciertos métodos

In [2]:
import dask.dataframe as dd

%matplotlib inline

A continuación se mostrará como leer un archivo parseando el formato Date de la columna **pickup_datetime**

In [4]:
df = dd.read_csv("train.csv", parse_dates=['pickup_datetime'])

In [5]:
df.shape

(Delayed('int-d11f2c71-ce18-4568-af31-8c9ba47fb9f2'), 8)

In [22]:
df.partitions[0]

Dask DataFrame Structure:
                  key fare_amount      pickup_datetime pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude passenger_count
npartitions=1
               object     float64  datetime64[ns, UTC]          float64         float64           float64          float64           int64
                  ...         ...                  ...              ...             ...               ...              ...             ...
Dask Name: blocks, 91 tasks

In [25]:
df.partitions[0].compute()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
622575,2012-01-25 10:48:44.0000003,5.30,2012-01-25 10:48:44+00:00,-73.981488,40.729221,-73.995126,40.728076,1
622576,2009-08-29 02:51:00.00000010,8.90,2009-08-29 02:51:00+00:00,-74.005788,40.726260,-73.977742,40.746148,1
622577,2009-09-11 09:59:00.000000150,10.50,2009-09-11 09:59:00+00:00,-73.962948,40.767923,-73.972827,40.795977,1
622578,2010-08-04 09:32:00.000000109,6.10,2010-08-04 09:32:00+00:00,-73.993595,40.743253,-74.007273,40.751558,1
622579,2010-10-18 20:49:12.0000001,37.87,2010-10-18 20:49:12+00:00,-73.984251,40.761443,-73.944439,40.630234,1

In [21]:
df['pickup_longitude'].partitions[0].compute()

0        -73.844311
1        -74.016048
2        -73.982738
3        -73.987130
4        -73.968095
            ...
622575   -73.981488
622576   -74.005788
622577   -73.962948
622578   -73.993595
622579   -73.984251
Name: pickup_longitude, Length: 622580, dtype: float64

In [31]:
aux = df['pickup_longitude'].partitions[0].values.compute()

Wall time: 3min 8s

array([-73.844311, -74.016048, -73.982738, ..., -73.962948, -73.993595,
       -73.984251])

In [32]:
##Pruebas

In [ ]:
aux2 = df['dropoff_longitude'].partitions[0].values.compute()

In [ ]:
aux3 = df['dropoff_latitude'].partitions[0].values.compute()

In [ ]:
aux4 = df['pickup_latitude'].partitions[0].values.compute()