# Entrenando Modelos

Importamos los modulos a usar

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

Cargamos 15 millones de filas de la data

In [2]:
df = pd.read_csv('dataframe.csv', nrows = 15000000)

In [3]:
df.head(5)

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,dates
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,94.358403,06-15
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,796.956699,01-05
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,136.740367,08-18
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,253.404730,04-21
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,194.695176,03-09

Crearemos un diccionario para asiganar un "date" a un n√∫mero

In [4]:
dates_dict = {k: i for i,k in enumerate(df.dates.unique(), 0)}

In [5]:
df.loc[:, 'dates_mapeo'] = df.loc[:, 'dates'].map(dates_dict)

In [6]:
df.head(10)

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,dates,dates_mapeo
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,94.358403,06-15,0
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,796.956699,01-05,1
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,136.740367,08-18,2
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,253.404730,04-21,3
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,194.695176,03-09,4
5,12.1,-74.000964,40.731630,-73.972892,40.758233,1,386.750151,01-06,5
6,7.5,-73.980002,40.751662,-73.973802,40.764842,1,145.654523,11-20,6
7,16.5,-73.951300,40.774138,-73.990095,40.751048,1,451.464298,01-04,7
8,9.0,-74.006462,40.726713,-73.993078,40.731628,1,142.579340,12-03,8
9,8.9,-73.980658,40.733873,-73.991540,40.758138,2,265.933854,09-02,9

In [7]:
df.dates_mapeo.unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365], dtype=int64)

Hecho esto, procedemos a seleccionar los predictores y la separaci√≥n de la data para el entrenamiento y las pruebas.

In [8]:
predictors = ['passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
              'dropoff_latitude', 'dates_mapeo']
salida = 'fare_amount'

X_train, X_test, y_train, y_test = train_test_split(
    df[predictors],
    df[salida],
    test_size=0.3,
    random_state=0
)

## Modelo KNeighborsRegressor

Empezamos creando el modelo y empezamos su entrenamiento

In [15]:
knn_regre = KNeighborsRegressor(n_neighbors = 9, weights = 'distance', n_jobs = 4)
knn_regre.fit(X_train, y_train)

KNeighborsRegressor(n_jobs=4, n_neighbors=9, weights='distance')

In [16]:
train_preds = knn_regre.predict(X_train)
mse1 = mean_squared_error(y_train, train_preds)
rmse1 = sqrt(mse1)
print("###########TRAIN###########")
print("MSE", mse1)
print("RMSE", rmse1)

###########TRAIN###########
MSE 6.595238095238095e-07
RMSE 0.0008121107126025425

Calculamos el MSE y el RMSE del modelo

In [17]:
train_preds1 = knn_regre.predict(X_test)
mse2 = mean_squared_error(y_test, train_preds1)
rmse2 = sqrt(mse2)
print("###########TEST###########")
print("MSE", mse2)
print("RMSE", rmse2)

###########TEST###########
MSE 20.035895930927875
RMSE 4.476147442938835

Calculamos el puntaje del modelo

In [18]:
score_m = knn_regre.score(X_test, y_test)
print("Score:", score_m)

Score: 0.7828028970119453

# Modelo LinearRegression

Creamos el modelo y empezamos su entrenamiento

In [9]:
clf = LinearRegression(n_jobs = -1)
clf.fit(X_train, y_train)

LinearRegression(n_jobs=-1)

In [10]:
train_preds = clf.predict(X_train)
mse1 = mean_squared_error(y_train, train_preds)
rmse1 = sqrt(mse1)
print("###########TRAIN###########")
print("MSE", mse1)
print("RMSE", rmse1)

###########TRAIN###########
MSE 91.59847853079197
RMSE 9.570709405827342

Calculamos el MSE y el RMSE del modelo

In [11]:
train_preds1 = clf.predict(X_test)
mse2 = mean_squared_error(y_test, train_preds1)
rmse2 = sqrt(mse2)
print("###########TEST###########")
print("MSE", mse2)
print("RMSE", rmse2)

###########TEST###########
MSE 92.20325083696392
RMSE 9.602252383527727

Calculamos el puntaje del modelo

In [12]:
score_m = clf.score(X_test, y_test)
print(score_m)

0.00047998667449333787

Como era de esperarse, el modelo de LinearRegression no es un buen modelo para la soluci√≥n de este problema.