In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataframe.csv')

In [3]:
# Lectura para testeo
df = pd.read_csv('dataframe.csv', nrows = 15000000)

In [4]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,dates
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,94.358403,06-15
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,796.956699,01-05
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,136.740367,08-18
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,253.404730,04-21
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,194.695176,03-09

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000000 entries, 0 to 14999999
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   fare_amount        float64
 1   pickup_longitude   float64
 2   pickup_latitude    float64
 3   dropoff_longitude  float64
 4   dropoff_latitude   float64
 5   passenger_count    int64
 6   distance           float64
 7   dates              object
dtypes: float64(6), int64(1), object(1)
memory usage: 1.6 GB

In [6]:
import matplotlib.pyplot as plt
import swifter

In [7]:
serie = pd.Series(range(0,366))
serie

0        0
1        1
2        2
3        3
4        4
      ...
361    361
362    362
363    363
364    364
365    365
Length: 366, dtype: int64

In [8]:
a = df.dates.sort_values().unique()

In [9]:
b = a.tolist()

In [10]:
s = serie.to_list()

In [11]:
dic={}
def func (b,s):
    for i in range(0,366):
        dic[b[i]]=s[i]
        
func(b,s)

In [12]:
dic

{'01-01': 0,
 '01-02': 1,
 '01-03': 2,
 '01-04': 3,
 '01-05': 4,
 '01-06': 5,
 '01-07': 6,
 '01-08': 7,
 '01-09': 8,
 '01-10': 9,
 '01-11': 10,
 '01-12': 11,
 '01-13': 12,
 '01-14': 13,
 '01-15': 14,
 '01-16': 15,
 '01-17': 16,
 '01-18': 17,
 '01-19': 18,
 '01-20': 19,
 '01-21': 20,
 '01-22': 21,
 '01-23': 22,
 '01-24': 23,
 '01-25': 24,
 '01-26': 25,
 '01-27': 26,
 '01-28': 27,
 '01-29': 28,
 '01-30': 29,
 '01-31': 30,
 '02-01': 31,
 '02-02': 32,
 '02-03': 33,
 '02-04': 34,
 '02-05': 35,
 '02-06': 36,
 '02-07': 37,
 '02-08': 38,
 '02-09': 39,
 '02-10': 40,
 '02-11': 41,
 '02-12': 42,
 '02-13': 43,
 '02-14': 44,
 '02-15': 45,
 '02-16': 46,
 '02-17': 47,
 '02-18': 48,
 '02-19': 49,
 '02-20': 50,
 '02-21': 51,
 '02-22': 52,
 '02-23': 53,
 '02-24': 54,
 '02-25': 55,
 '02-26': 56,
 '02-27': 57,
 '02-28': 58,
 '02-29': 59,
 '03-01': 60,
 '03-02': 61,
 '03-03': 62,
 '03-04': 63,
 '03-05': 64,
 '03-06': 65,
 '03-07': 66,
 '03-08': 67,
 '03-09': 68,
 '03-10': 69,
 '03-11': 70,
 '03-12': 71,
 '03-13': 72,
 '03-14': 73,
 '03-15': 74,
 '03-16': 75,
 '03-17': 76,
 '03-18': 77,
 '03-19': 78,
 '03-20': 79,
 '03-21': 80,
 '03-22': 81,
 '03-23': 82,
 '03-24': 83,
 '03-25': 84,
 '03-26': 85,
 '03-27': 86,
 '03-28': 87,
 '03-29': 88,
 '03-30': 89,
 '03-31': 90,
 '04-01': 91,
 '04-02': 92,
 '04-03': 93,
 '04-04': 94,
 '04-05': 95,
 '04-06': 96,
 '04-07': 97,
 '04-08': 98,
 '04-09': 99,
 '04-10': 100,
 '04-11': 101,
 '04-12': 102,
 '04-13': 103,
 '04-14': 104,
 '04-15': 105,
 '04-16': 106,
 '04-17': 107,
 '04-18': 108,
 '04-19': 109,
 '04-20': 110,
 '04-21': 111,
 '04-22': 112,
 '04-23': 113,
 '04-24': 114,
 '04-25': 115,
 '04-26': 116,
 '04-27': 117,
 '04-28': 118,
 '04-29': 119,
 '04-30': 120,
 '05-01': 121,
 '05-02': 122,
 '05-03': 123,
 '05-04': 124,
 '05-05': 125,
 '05-06': 126,
 '05-07': 127,
 '05-08': 128,
 '05-09': 129,
 '05-10': 130,
 '05-11': 131,
 '05-12': 132,
 '05-13': 133,
 '05-14': 134,
 '05-15': 135,
 '05-16': 136,
 '05-17': 137,
 '05-18': 138,
 '05-19': 139,
 '05-20': 140,
 '05-21': 141,
 '05-22': 142,
 '05-23': 143,
 '05-24': 144,
 '05-25': 145,
 '05-26': 146,
 '05-27': 147,
 '05-28': 148,
 '05-29': 149,
 '05-30': 150,
 '05-31': 151,
 '06-01': 152,
 '06-02': 153,
 '06-03': 154,
 '06-04': 155,
 '06-05': 156,
 '06-06': 157,
 '06-07': 158,
 '06-08': 159,
 '06-09': 160,
 '06-10': 161,
 '06-11': 162,
 '06-12': 163,
 '06-13': 164,
 '06-14': 165,
 '06-15': 166,
 '06-16': 167,
 '06-17': 168,
 '06-18': 169,
 '06-19': 170,
 '06-20': 171,
 '06-21': 172,
 '06-22': 173,
 '06-23': 174,
 '06-24': 175,
 '06-25': 176,
 '06-26': 177,
 '06-27': 178,
 '06-28': 179,
 '06-29': 180,
 '06-30': 181,
 '07-01': 182,
 '07-02': 183,
 '07-03': 184,
 '07-04': 185,
 '07-05': 186,
 '07-06': 187,
 '07-07': 188,
 '07-08': 189,
 '07-09': 190,
 '07-10': 191,
 '07-11': 192,
 '07-12': 193,
 '07-13': 194,
 '07-14': 195,
 '07-15': 196,
 '07-16': 197,
 '07-17': 198,
 '07-18': 199,
 '07-19': 200,
 '07-20': 201,
 '07-21': 202,
 '07-22': 203,
 '07-23': 204,
 '07-24': 205,
 '07-25': 206,
 '07-26': 207,
 '07-27': 208,
 '07-28': 209,
 '07-29': 210,
 '07-30': 211,
 '07-31': 212,
 '08-01': 213,
 '08-02': 214,
 '08-03': 215,
 '08-04': 216,
 '08-05': 217,
 '08-06': 218,
 '08-07': 219,
 '08-08': 220,
 '08-09': 221,
 '08-10': 222,
 '08-11': 223,
 '08-12': 224,
 '08-13': 225,
 '08-14': 226,
 '08-15': 227,
 '08-16': 228,
 '08-17': 229,
 '08-18': 230,
 '08-19': 231,
 '08-20': 232,
 '08-21': 233,
 '08-22': 234,
 '08-23': 235,
 '08-24': 236,
 '08-25': 237,
 '08-26': 238,
 '08-27': 239,
 '08-28': 240,
 '08-29': 241,
 '08-30': 242,
 '08-31': 243,
 '09-01': 244,
 '09-02': 245,
 '09-03': 246,
 '09-04': 247,
 '09-05': 248,
 '09-06': 249,
 '09-07': 250,
 '09-08': 251,
 '09-09': 252,
 '09-10': 253,
 '09-11': 254,
 '09-12': 255,
 '09-13': 256,
 '09-14': 257,
 '09-15': 258,
 '09-16': 259,
 '09-17': 260,
 '09-18': 261,
 '09-19': 262,
 '09-20': 263,
 '09-21': 264,
 '09-22': 265,
 '09-23': 266,
 '09-24': 267,
 '09-25': 268,
 '09-26': 269,
 '09-27': 270,
 '09-28': 271,
 '09-29': 272,
 '09-30': 273,
 '10-01': 274,
 '10-02': 275,
 '10-03': 276,
 '10-04': 277,
 '10-05': 278,
 '10-06': 279,
 '10-07': 280,
 '10-08': 281,
 '10-09': 282,
 '10-10': 283,
 '10-11': 284,
 '10-12': 285,
 '10-13': 286,
 '10-14': 287,
 '10-15': 288,
 '10-16': 289,
 '10-17': 290,
 '10-18': 291,
 '10-19': 292,
 '10-20': 293,
 '10-21': 294,
 '10-22': 295,
 '10-23': 296,
 '10-24': 297,
 '10-25': 298,
 '10-26': 299,
 '10-27': 300,
 '10-28': 301,
 '10-29': 302,
 '10-30': 303,
 '10-31': 304,
 '11-01': 305,
 '11-02': 306,
 '11-03': 307,
 '11-04': 308,
 '11-05': 309,
 '11-06': 310,
 '11-07': 311,
 '11-08': 312,
 '11-09': 313,
 '11-10': 314,
 '11-11': 315,
 '11-12': 316,
 '11-13': 317,
 '11-14': 318,
 '11-15': 319,
 '11-16': 320,
 '11-17': 321,
 '11-18': 322,
 '11-19': 323,
 '11-20': 324,
 '11-21': 325,
 '11-22': 326,
 '11-23': 327,
 '11-24': 328,
 '11-25': 329,
 '11-26': 330,
 '11-27': 331,
 '11-28': 332,
 '11-29': 333,
 '11-30': 334,
 '12-01': 335,
 '12-02': 336,
 '12-03': 337,
 '12-04': 338,
 '12-05': 339,
 '12-06': 340,
 '12-07': 341,
 '12-08': 342,
 '12-09': 343,
 '12-10': 344,
 '12-11': 345,
 '12-12': 346,
 '12-13': 347,
 '12-14': 348,
 '12-15': 349,
 '12-16': 350,
 '12-17': 351,
 '12-18': 352,
 '12-19': 353,
 '12-20': 354,
 '12-21': 355,
 '12-22': 356,
 '12-23': 357,
 '12-24': 358,
 '12-25': 359,
 '12-26': 360,
 '12-27': 361,
 '12-28': 362,
 '12-29': 363,
 '12-30': 364,
 '12-31': 365}

In [13]:
def isindic(X, dix):
    if dix[X] != None:
        return dix[X]
    


df['date_map'] = df['dates'].swifter.apply(lambda x: isindic(x,dic))

Pandas Apply:   0%|          | 0/15000000 [00:00<?, ?it/s]

In [14]:
df.head(4)

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,dates,date_map
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,94.358403,06-15,166
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,796.956699,01-05,4
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,136.740367,08-18,230
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,253.404730,04-21,111

In [15]:
df.dtypes

fare_amount          float64
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
distance             float64
dates                 object
date_map               int64
dtype: object

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
from sklearn.neighbors import KNeighborsRegressor

In [18]:
from joblib import Parallel, delayed

In [19]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix

from math import sqrt

In [20]:
#predictors=['passenger_count','date_map','pickup_longitude',
#            'pickup_latitude','dropoff_longitude','dropoff_latitude']
predictors=['date_map','distance','passenger_count']
### Predictores de Diego
#predictors=['passenger_count','distance','date_map']

In [21]:
X_train,X_test,y_train,y_test = train_test_split(df[predictors], df['fare_amount'],
                                 test_size=0.3,  random_state=42)

In [22]:
knn_model = KNeighborsRegressor(n_neighbors=11, n_jobs=14)

In [23]:
knn_model.fit(X_train, y_train)

KNeighborsRegressor(n_jobs=14, n_neighbors=11)

In [24]:
train_preds = knn_model.predict(X_train)
mse1 = mean_squared_error(y_train, train_preds)
rmse1 = sqrt(mse1)
print('###### Train group #########')
print('Error MSE:',mse1)
print('Error RMSE:',rmse1)

###### Train group #########
Error MSE: 17.319921868382686
Error RMSE: 4.161721022411604

In [25]:
test_preds = knn_model.predict(X_test)
mse2 = mean_squared_error(y_test, test_preds)
rmse2 = sqrt(mse2)
print('###### Train group #########')
print('Error MSE:',mse2)
print('Error RMSE:',rmse2)

###### Train group #########
Error MSE: 20.397420350136457
Error RMSE: 4.516350335186195

In [26]:
score_mod = knn_model.score(X_train, y_train)
print('Score Train:',score_mod)
score_mod = knn_model.score(X_test, y_test)
print('Score Test:',score_mod)

Score Train: 0.8117123179258713
Score Test: 0.776941878205749

In [ ]:
#from sklearn.model_selection import GridSearchCV
#parameters = {"n_neighbors": [3,5,7,11]}
#gridsearch = GridSearchCV(
#    KNeighborsRegressor(), 
#    parameters, n_jobs=14)
#gs_results = gridsearch.fit(X_train, y_train)

In [ ]:
#gs_results.best_score_

In [ ]:
#gs_results.best_estimator_

In [ ]:
#gs_results.best_params_

In [ ]:
#train_preds_grid = gridsearch.predict(X_train)
#train_mse = mean_squared_error(y_train, train_preds_grid)
#train_rmse = sqrt(train_mse)
#test_preds_grid = gridsearch.predict(X_test)
#test_mse = mean_squared_error(y_test, test_preds_grid)
#test_rmse = sqrt(test_mse)

In [ ]:
#print('train rmse: ',train_rmse,'test rmse: ',test_rmse)

In [ ]:
#train_preds_grid = gridsearch.predict(X_train)

## MODELO RANDOM FOREST

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
rfr_model = RandomForestRegressor(n_estimators = 500, max_depth = 8, 
                                  n_jobs=14, random_state=42)

In [29]:
rfr_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=8, n_estimators=500, n_jobs=14, random_state=42)

In [31]:
    #Comprobación
train_preds = rfr_model.predict(X_train)
mse1 = mean_squared_error(y_train, train_preds)
rmse1 = sqrt(mse1)
print('###### Train group #########')
print('Error MSE:',mse1)
print('Error RMSE:',rmse1)
print('Score:',rfr_model.score(X_test, y_test))

###### Train group #########
Error MSE: 18.98367511421161
Error RMSE: 4.357025948305979
Score: 0.7952784908978769

In [32]:
test_preds = rfr_model.predict(X_test)
mse2 = mean_squared_error(y_test, test_preds)
rmse2 = sqrt(mse2)
print('###### Test group #########')
print('Error MSE:',mse2)
print('Error RMSE:',rmse2)

###### Test group #########
Error MSE: 18.720639456123656
Error RMSE: 4.326735427100166

## MODELO REGRESION LINEAL MULTIPLE

In [26]:
from sklearn import linear_model

In [27]:
lrm_model = linear_model.LinearRegression(n_jobs=14,normalize=True)

In [28]:
lrm_model.fit(X_train, y_train)

LinearRegression(n_jobs=14, normalize=True)

In [32]:
    #Comprobación
train_preds_lmr = lrm_model.predict(X_train)
mse_lrm1 = mean_squared_error(y_train, train_preds_lmr)
rmse_lrm = sqrt(mse_lrm1)
print('###### Train group #########')
print('Error MSE:',mse_lrm1)
print('Error RMSE:',rmse_lrm)
print('Score:',lrm_model.score(X_train, y_train))

###### Train group #########
Error MSE: 91.82532777532909
Error RMSE: 9.582553301460372
Score: 0.002348972792554971

In [33]:
test_preds_lmr = lrm_model.predict(X_test)
mse_lrm2 = mean_squared_error(y_test, test_preds_lmr)
rmse_lrm2 = sqrt(mse_lrm2)
print('###### Test group #########')
print('Error MSE:',mse_lrm2)
print('Error RMSE:',rmse_lrm2)
print('Score:',lrm_model.score(X_test, y_test))

###### Train group #########
Error MSE: 92.47434355732418
Error RMSE: 9.616358123391837
Score: 0.002287648596363878

## Gradient Boost regression

In [33]:
from sklearn.ensemble import GradientBoostingRegressor

In [34]:
X_train,X_test,y_train,y_test = train_test_split(df[predictors], df['fare_amount'],
                                 test_size=0.3,  random_state=42)

In [35]:
gbr = GradientBoostingRegressor(max_depth=3,
                                n_estimators=250,
                                learning_rate = 0.15,
                               random_state=0)

In [36]:
gbr_model = gbr.fit(X_train, y_train)

In [37]:
train_preds_gbr = gbr_model.predict(X_train)
mse_lrm1 = mean_squared_error(y_train, train_preds_gbr)
rmse_lrm = sqrt(mse_lrm1)
print('###### Train group #########')
print('Error MSE:',mse_lrm1)
print('Error RMSE:',rmse_lrm)
print('Score:',gbr_model.score(X_train, y_train))

###### Train group #########
Error MSE: 18.836382482289974
Error RMSE: 4.340090146793034
Score: 0.7952266284337872

In [38]:
train_preds_gbr = gbr_model.predict(X_test)
mse_lrm2 = mean_squared_error(y_test, train_preds_gbr)
rmse_lrm2 = sqrt(mse_lrm2)
print('###### Test group #########')
print('Error MSE:',mse_lrm2)
print('Error RMSE:',rmse_lrm2)
print('Score:',gbr_model.score(X_test, y_test))

###### Test group #########
Error MSE: 18.65956279497048
Error RMSE: 4.319671607306565
Score: 0.7959464011085031